#sure,
#hatirlaticiTipi,
#reminder {
    display: inline-block;
}

.container {
    margin: 1em;
}

.form-inline .form-group {
    margin-right: 4px;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.row > [class*="col-"] {
    display: flex;
    flex-direction: column;
}
